# County Health Data Analysis

1. Import the File by downloading it and saving it under the same folder as the notebook.
2. Import as pd to make it easier to work with.

In [34]:
import pandas as pd

3. Define the dataframe(df) to read the csv file

In [35]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

4. Focus in on certain variables. In this

In [36]:
df[["Region", "Health care costs", "Child mortality"]]

     Region  Health care costs  Child mortality
0      West             3791.0              NaN
1      West             4837.0              NaN
2      West             6588.0             51.7
3      West             6582.0             46.4
4      West             5860.0            180.3
...     ...                ...              ...
6104   West             7600.0             47.7
6105   West             8202.0              NaN
6106   West             7940.0              NaN
6107   West             6906.0              NaN
6108   West             7238.0              NaN

[6109 rows x 3 columns]

In [37]:
df[["Region", "Health care costs", "Child mortality"]][df["State"] == "SC"]

     Region  Health care costs  Child mortality
4515  South             8787.0             96.4
4516  South             8468.0             91.8
4517  South             8511.0             65.9
4518  South             8802.0             60.6
4519  South             9602.0            134.2
...     ...                ...              ...
4602  South            10688.0             49.9
4603  South             9873.0            115.9
4604  South            10040.0            106.9
4605  South             9153.0             63.4
4606  South             9407.0             50.8

[92 rows x 3 columns]